.Card .Header .Title {
  color: rgb(245, 214, 36);
  font-size: 20px;
}

.Card .Content img {
  width: 100%;
}

.title {
  color: #cea614;
}

.title input {
  height: 50px;
  width: 350px;
  border-radius: 8px;
  padding: 0 16px;
  background: #fff;
  border: 1px solid #a8a8b3;
}
